<header>
  <div role="tablist">
    <button role="tab"><a class="nav-item" href="/">Home</a></button>
    <button role="tab">
      <a class="nav-item" href="/categories/create">New Category</a>
    </button>
    <button role="tab">
      <a class="nav-item" href="/items/create">New Item</a>
    </button>
  </div>
</header>
