<header>
  <div role="tablist">
    <button role="tab"><a class="nav-item" href="/">Home</a></button>
    <button role="tab"><a class="nav-item" href="/categories/create">New Category</a></button>
  </div>
</header>
