<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs') %>
  <body>
    <%- include('partials/headline.ejs') %>
    <form action="/create" method="post">
      <label for="name">Category name</label>
      <input type="text" name="name" required />
      <button class="default" type="submit">Create</button>
    </form>
  </body>
</html>
