<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <div class="container">
      <%- include('../partials/headline.ejs') %> <%-
      include('../partials/header.ejs') %>
      <form action="create" method="post">
        <label for="name" data-field>
          Category name
          <input type="text" name="name" required />
        </label>

        <button type="submit">Create</button>
      </form>
    </div>
  </body>
</html>
